body 
{
    background-color: #B1F8F2;
}

.navbar 
{
    background-color: #2e2e2e;
}

.nav-link 
{
    color: white;
}

.navbar-brand 
{
    color: white;
}

.nav-link:hover, .navbar-brand:hover
{
    color: #F3A712;
}